*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(113, 117, 235);
}
h1{
    color: white;
}
#contenedor-juego{
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p";
    background-color: brown;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p{
    background-image: url('logos/simpsons.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px rgb(113, 117, 235) solid;
}
